{% if showHeader or showMessage %}
	<p class="lead text-center">
		{% if showHeader %}
	    	<strong>{{ header }}</strong>
	    {% endif %}
	    
	    {% if showMessage %}
	    	<span class="d-block">{{ body }}</span>
	    {% endif %}
	</p>
{% endif %}

<form
    data-request="onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    
    <div id="login-error" class="alert alert-danger d-none text-center"></div>
    
    <div class="form-group">
    	{% if showTitles %}
       		<label for="userRestoreEmail">Email</label>
       	{% endif %}
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="btn btn-block btn-primary">Restore password</button>
</form>
